body{
  background-size : auto ;
  background-attachment: fixed;
  margin:0px;
  position: relative;
  min-height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 70vw;
  }




#header{
    opacity: 0.3;
    height:150px;
    background-color:  rgb(254, 241, 241)
   
}


/*menu-deroulant et bouton accueil*/
input{
        padding: 15px 100px;
        cursor: pointer;
        background-color: rgb(82, 79, 79);
        text-align: center;
        position: relative;
      }

:root{
    --hauteur-menu: 52px;
    font-size: 4em;
    
  }

  * {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif;
    border-radius: 10px 10px 10px 10px; 
    left: 0px;
    color: white;
    top: 15px;
    padding-top: 1;
  
  }


  nav {
    width: 100%;
    font-size: 18px;
    position: sticky;

  }
 
  nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
  }
   
  nav ul {
    list-style-type: none;
  }
  
  nav > ul > li {
    background-color:  rgb(82, 79, 79);
    position: relative;
    height: 100%;
    flex: 1;
  }

  nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  .menu-deroulant > a:after{
    content: '❯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
  }

  .sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    background-color:  rgb(82, 79, 79);;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
  }
  
  .sous-menu > li > a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
  }

  nav > ul > li:hover > a{
    color: #2169EC;
  }

  .sous-menu > li:hover {
    background-color: rgb(82, 79, 79);
  }
  
  .sous-menu > li:hover > a {
    color:  rgb(82, 79, 79);
  }

  @keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid #2169EC;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid #2169EC;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }

  .menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
  }


page 


.menu{
  position:relative;
   z-index:2;
}

.wrappermain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    position:relative;
   z-index:1;
   flex: 1 0 auto;
  }

.bienvenu{
grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 7;

}

::selection {
  background: transparent;
}

/* JUMP */
h6 {
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin: auto;
  display: block;
  text-align: center;
}

h6 span {
  position: relative;
  top: 20px;
  display: inline-block;
  -webkit-animation: bounce 0.3s ease infinite alternate;
  font-size: 80px;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h6 span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}

h6 span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}

h6 span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}

h6 span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}

h6 span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}

h6 span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}

h6 span:nth-child(8) {
  -webkit-animation-delay: 0.2s;
}

h6 span:nth-child(9) {
  -webkit-animation-delay: 0.3s;
}

h6 span:nth-child(10) {
  -webkit-animation-delay: 0.4s;
}

h6 span:nth-child(11) {
  -webkit-animation-delay: 0.5s;
}

h6 span:nth-child(12) {
  -webkit-animation-delay: 0.6s;
}

h6 span:nth-child(13) {
  -webkit-animation-delay: 0.7s;
}

h6 span:nth-child(14) {
  -webkit-animation-delay: 0.8s;
}

/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

/*box fusain*/

.menu{
  position:relative;
   z-index:2;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 100px);
    position:relative;
   z-index:1;
  }
  
  .box1 img{
    max-width: 100%;
    max-height: 100%;
  }

  .box2 img{
    max-width: 100%;
    max-height: 100%;
  }

form{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
  
.menu{
  grid-column-start: 3;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
}
.box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 7;
    font-size: 4em;
        background-color:  rgb(82, 79, 79);
        font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
        text-align: center;
        float:right;
        position: relative;
        border-radius: 10px 10px 10px 10px; 
        margin: 3%;  
        padding: 3%;
        border: 3px solid;
          color: white;
 }

 * {box-sizing: border-box;}
 .box2 {
   display: block;
   position: relative;
    
   
 }

 .box2:before, .box2:after {
   content: "";
   display: block;
   position: absolute;
   width: 0;
   height: 0;
   border: 8px #000000 solid;
   transition: all .8s;
 }

 .box2:before {
   top: -8px;
   left: -8px;
   border-width: 6px 0 0 6px;
   border-radius: 10px 10px 10px 10px; 
 }

 .box2:after {
   bottom: -8px;
   right: -8px;
   border-width: 0 6px 6px 0;
   border-radius: 10px 10px 10px 10px; 
 }

 .box2:hover.box2:before, .box2:hover.box2:after {
   width: calc( 100% + 8px );
   height: calc( 100% + 8px );
 }


 * {box-sizing: border-box;}
 .box3 {
   display: block;
   position: relative;
   
 }

 .box3:before, .box3:after {
   content: "";
   display: block;
   position: absolute;
   width: 0;
   height: 0;
   border: 8px #000000 solid;
   transition: all .8s;
 }

 .box3:before {
   top: -8px;
   left: -8px;
   border-width: 6px 0 0 6px;
   border-radius: 10px 10px 10px 10px; 
 }

 .box3:after {
   bottom: -8px;
   right: -8px;
   border-width: 0 6px 6px 0;
   border-radius: 10px 10px 10px 10px; 
 }

 .box3:hover.box3:before, .box3:hover.box3:after {
   width: calc( 100% + 8px );
   height: calc( 100% + 8px );
 }


 * {box-sizing: border-box;}
 .box4 {
   display: block;
   position: relative;
 }

 .box4:before, .box4:after {
   content: "";
   display: block;
   position: absolute;
   width: 0;
   height: 0;
   border: 8px #000000 solid;
   transition: all .8s;
 }

 .box4:before {
   top: -8px;
   left: -8px;
   border-width: 6px 0 0 6px;
   border-radius: 10px 10px 10px 10px; 
 }

 .box4:after {
   bottom: -8px;
   right: -8px;
   border-width: 0 6px 6px 0;
   border-radius: 10px 10px 10px 10px; 
 }

 .box4:hover.box4:before, .box4:hover.box4:after {
   width: calc( 100% + 8px );
   height: calc( 100% + 8px );
 }

 .box2 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 7;
    font-size: 4em;
        background-color:  rgb(82, 79, 79);
        font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
        text-align: center;
        float:right;
        position: relative;
        border-radius: 10px 10px 10px 10px; 
        margin: 3%;  
        padding: 3%;
        border: 3px solid;
          color: white;
  }
  
  .box3 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 5;
    font-size: 4em;
        background-color:  rgb(82, 79, 79);
        font: 18px Lucida Grande, Arial, Helvetica, sans-serif;
        text-align: center;
        float:right;
        position: relative;
        border-radius: 10px 10px 10px 10px; 
        margin: 3%;  
        padding: 3%;
        border: 3px solid;
          color: white;
  }
  .box4 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 7;
    font-size: 4em;
        background-color:  rgb(82, 79, 79);
        font: 13px Lucida Grande, Arial, Helvetica, sans-serif;
        text-align: center;
        float:right;
        position: relative;
        border-radius: 10px 10px 10px 10px; 
        margin: 3%;  
        padding: 3%;
        border: 3px solid;
          color: white;
  }
  
/*page portrait*/
.menu{
  position:relative;
   z-index:2;
}

.wrapperportrait {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 100px);
    position:relative;
    z-index:1;
  }

  .portrait1 img{
    max-width: 100%;
    max-height: 100%;
  }

  .inspiration1 img{
    max-width: 100%;
    max-height: 100%;
  }
  .portrait1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 7;
    font-size: 4em;
        background-color:  rgb(82, 79, 79);
        font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
        text-align: center;
        float:right;
        position: relative;
        border-radius: 10px 10px 10px 10px; 
        margin: 3%;  
        padding: 3%;
        border: 3px solid;
          color: white;
 }


 .detail1 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 5;
  font-size: 4em;
      background-color:  rgb(82, 79, 79);
      font: 18px Lucida Grande, Arial, Helvetica, sans-serif;
      text-align: center;
      float:right;
      position: relative;
      border-radius: 10px 10px 10px 10px; 
      margin: 3%;  
      padding: 3%;
      border: 3px solid;
        color: white;
}

* {box-sizing: border-box;}
 .detail1 {
   display: block;
   position: relative;
    
   
 }

 .detail1:before, .detail1:after {
   content: "";
   display: block;
   position: absolute;
   width: 0;
   height: 0;
   border: 8px #000000 solid;
   transition: all .8s;
 }

 .detail1:before {
   top: -8px;
   left: -8px;
   border-width: 6px 0 0 6px;
   border-radius: 10px 10px 10px 10px; 
 }

 .detail1:after {
   bottom: -8px;
   right: -8px;
   border-width: 0 6px 6px 0;
   border-radius: 10px 10px 10px 10px; 
 }

 .detail1:hover.detail1:before, .detail1:hover.detail1:after {
   width: calc( 100% + 8px );
   height: calc( 100% + 8px );
 }
.inspiration1 {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 7;
  font-size: 4em;
      background-color:  rgb(82, 79, 79);
      font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
      text-align: center;
      float:right;
      position: relative;
      border-radius: 10px 10px 10px 10px; 
      margin: 3%;  
      padding: 3%;
      border: 3px solid;
        color: white;
}

* {box-sizing: border-box;}
 .inspiration1 {
   display: block;
   position: relative;
    
   
 }

 .inspiration1:before, .inspiration1:after {
   content: "";
   display: block;
   position: absolute;
   width: 0;
   height: 0;
   border: 8px #000000 solid;
   transition: all .8s;
 }

 .inspiration1:before {
   top: -8px;
   left: -8px;
   border-width: 6px 0 0 6px;
   border-radius: 10px 10px 10px 10px; 
 }

 .inspiration1:after {
   bottom: -8px;
   right: -8px;
   border-width: 0 6px 6px 0;
   border-radius: 10px 10px 10px 10px; 
 }

 .inspiration1:hover.inspiration1:before, .inspiration1:hover.inspiration1:after {
   width: calc( 100% + 8px );
   height: calc( 100% + 8px );
 }
.explication1 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 7;
  font-size: 4em;
      background-color:  rgb(82, 79, 79);
      font: 13px Lucida Grande, Arial, Helvetica, sans-serif;
      text-align: center;
      float:right;
      position: relative;
      border-radius: 10px 10px 10px 10px; 
      margin: 3%;  
      padding: 3%;
      border: 3px solid;
        color: white;
}

* {box-sizing: border-box;}
 .explication1 {
   display: block;
   position: relative;
    
   
 }

 .explication1:before, .explication1:after {
   content: "";
   display: block;
   position: absolute;
   width: 0;
   height: 0;
   border: 8px #000000 solid;
   transition: all .8s;
 }

 .explication1:before {
   top: -8px;
   left: -8px;
   border-width: 6px 0 0 6px;
   border-radius: 10px 10px 10px 10px; 
 }

 .explication1:after {
   bottom: -8px;
   right: -8px;
   border-width: 0 6px 6px 0;
   border-radius: 10px 10px 10px 10px; 
 }

 .explication1:hover.explication1:before, .explication1:hover.explication1:after {
   width: calc( 100% + 8px );
   height: calc( 100% + 8px );
 }

.portrait2 img{
  max-width: 100%;
  max-height: 100%;
}

.inspiration2 img{
  max-width: 100%;
  max-height: 100%;
}
.portrait2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 12;
  font-size: 4em;
      background-color:  rgb(82, 79, 79);
      font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
      text-align: center;
      float:right;
      position: relative;
      border-radius: 10px 10px 10px 10px; 
      margin: 3%;  
      padding: 3%;
      border: 3px solid;
        color: white;
}

* {box-sizing: border-box;}
 .détail2 {
   display: block;
   position: relative;
    
   
 }

 .detail2:before, .detail2:after {
   content: "";
   display: block;
   position: absolute;
   width: 0;
   height: 0;
   border: 8px #000000 solid;
   transition: all .8s;
 }

 .detail2:before {
   top: -8px;
   left: -8px;
   border-width: 6px 0 0 6px;
   border-radius: 10px 10px 10px 10px; 
 }

 .detail2:after {
   bottom: -8px;
   right: -8px;
   border-width: 0 6px 6px 0;
   border-radius: 10px 10px 10px 10px; 
 }

 .detail2:hover.detail2:before, .detail2:hover.detail2:after {
   width: calc( 100% + 8px );
   height: calc( 100% + 8px );
 }

.detail2{
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 7;
grid-row-end: 10;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 18px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}

.inspiration2 {
grid-column-start: 6;
grid-column-end: 8;
grid-row-start: 9;
grid-row-end: 10;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}

* {box-sizing: border-box;}
 .explication2 {
   display: block;
   position: relative;
    
   
 }

 .explication2:before, .explication2:after {
   content: "";
   display: block;
   position: absolute;
   width: 0;
   height: 0;
   border: 8px #000000 solid;
   transition: all .8s;
 }

 .explication2:before {
   top: -8px;
   left: -8px;
   border-width: 6px 0 0 6px;
   border-radius: 10px 10px 10px 10px; 
 }

 .explication2:after {
   bottom: -8px;
   right: -8px;
   border-width: 0 6px 6px 0;
   border-radius: 10px 10px 10px 10px; 
 }

 .explication2:hover.explication2:before, .explication2:hover.explication2:after {
   width: calc( 100% + 8px );
   height: calc( 100% + 8px );
 }

.explication2 {
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 10;
grid-row-end: 12;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 13px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}


.portrait3 img{
  max-width: 100%;
  max-height: 100%;
}

.inspiration3 img{
  max-width: 100%;
  max-height: 100%;
}
.portrait3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 12;
  grid-row-end: 17;
  font-size: 4em;
      background-color:  rgb(82, 79, 79);
      font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
      text-align: center;
      float:right;
      position: relative;
      border-radius: 10px 10px 10px 10px; 
      margin: 3%;  
      padding: 3%;
      border: 3px solid;
        color: white;
}

* {box-sizing: border-box;}
 .detail3 {
   display: block;
   position: relative;
    
   
 }

 .detail3:before, .detail3:after {
   content: "";
   display: block;
   position: absolute;
   width: 0;
   height: 0;
   border: 8px #000000 solid;
   transition: all .8s;
 }

 .detail3:before {
   top: -8px;
   left: -8px;
   border-width: 6px 0 0 6px;
   border-radius: 10px 10px 10px 10px; 
 }

 .detail3:after {
   bottom: -8px;
   right: -8px;
   border-width: 0 6px 6px 0;
   border-radius: 10px 10px 10px 10px; 
 }

 .detail3:hover.detail3:before, .detail3:hover.detail3:after {
   width: calc( 100% + 8px );
   height: calc( 100% + 8px );
 }

.detail3{
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 12;
grid-row-end: 15;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 18px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}

* {box-sizing: border-box;}
 .inspiration3 {
   display: block;
   position: relative;
    
   
 }

 .inspiration3:before, .inspiration3:after {
   content: "";
   display: block;
   position: absolute;
   width: 0;
   height: 0;
   border: 8px #000000 solid;
   transition: all .8s;
 }

 .inspiration3:before {
   top: -8px;
   left: -8px;
   border-width: 6px 0 0 6px;
   border-radius: 10px 10px 10px 10px; 
 }

 .inspiration3:after {
   bottom: -8px;
   right: -8px;
   border-width: 0 6px 6px 0;
   border-radius: 10px 10px 10px 10px; 
 }

 .inspiration3:hover.inspiration3:before, .inspiration3:hover.inspiration3:after {
   width: calc( 100% + 8px );
   height: calc( 100% + 8px );
 }
.inspiration3 {
grid-column-start: 6;
grid-column-end: 8;
grid-row-start: 12;
grid-row-end: 17;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}

.explication3 {
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 15;
grid-row-end: 17;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 13px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}

* {box-sizing: border-box;}
 .explication3 {
   display: block;
   position: relative;
    
   
 }

 .explication3:before, .explication3:after {
   content: "";
   display: block;
   position: absolute;
   width: 0;
   height: 0;
   border: 8px #000000 solid;
   transition: all .8s;
 }

 .explication3:before {
   top: -8px;
   left: -8px;
   border-width: 6px 0 0 6px;
   border-radius: 10px 10px 10px 10px; 
 }

 .explication3:after {
   bottom: -8px;
   right: -8px;
   border-width: 0 6px 6px 0;
   border-radius: 10px 10px 10px 10px; 
 }

 .explication3:hover.explication3:before, .explication3:hover.explication3:after {
   width: calc( 100% + 8px );
   height: calc( 100% + 8px );
 }

.portrait4 img{
  max-width: 100%;
  max-height: 100%;
}

.inspiration4 img{
  max-width: 100%;
  max-height: 100%;
}
.portrait4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 17;
  grid-row-end: 22;
  font-size: 4em;
      background-color:  rgb(82, 79, 79);
      font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
      text-align: center;
      float:right;
      position: relative;
      border-radius: 10px 10px 10px 10px; 
      margin: 3%;  
      padding: 3%;
      border: 3px solid;
        color: white;
}

* {box-sizing: border-box;}
 .detail4 {
   display: block;
   position: relative;
    
   
 }

 .detail4:before, .detail4:after {
   content: "";
   display: block;
   position: absolute;
   width: 0;
   height: 0;
   border: 8px #000000 solid;
   transition: all .8s;
 }

 .detail4:before {
   top: -8px;
   left: -8px;
   border-width: 6px 0 0 6px;
   border-radius: 10px 10px 10px 10px; 
 }

 .detail4:after {
   bottom: -8px;
   right: -8px;
   border-width: 0 6px 6px 0;
   border-radius: 10px 10px 10px 10px; 
 }

 .detail4:hover.detail4:before, .detail4:hover.detail4:after {
   width: calc( 100% + 8px );
   height: calc( 100% + 8px );
 }
* {box-sizing: border-box;}
 .explication4 {
   display: block;
   position: relative;
    
   
 }

 .explication4:before, .explication4:after {
   content: "";
   display: block;
   position: absolute;
   width: 0;
   height: 0;
   border: 8px #000000 solid;
   transition: all .8s;
 }

 .explication4:before {
   top: -8px;
   left: -8px;
   border-width: 6px 0 0 6px;
   border-radius: 10px 10px 10px 10px; 
 }

 .explication4:after {
   bottom: -8px;
   right: -8px;
   border-width: 0 6px 6px 0;
   border-radius: 10px 10px 10px 10px; 
 }

 .explication4:hover.explication4:before, .explication4:hover.explication4:after {
   width: calc( 100% + 8px );
   height: calc( 100% + 8px );
 }

 * {box-sizing: border-box;}
 .inspiration4 {
   display: block;
   position: relative;
    
   
 }

 .inspiration4:before, .inspiration4:after {
   content: "";
   display: block;
   position: absolute;
   width: 0;
   height: 0;
   border: 8px #000000 solid;
   transition: all .8s;
 }

 .inspiration4:before {
   top: -8px;
   left: -8px;
   border-width: 6px 0 0 6px;
   border-radius: 10px 10px 10px 10px; 
 }

 .inspiration4:after {
   bottom: -8px;
   right: -8px;
   border-width: 0 6px 6px 0;
   border-radius: 10px 10px 10px 10px; 
 }

 .inspiration4:hover.inspiration4:before, .inspiration4:hover.inspiration4:after {
   width: calc( 100% + 8px );
   height: calc( 100% + 8px );
 }



.detail4{
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 17;
grid-row-end: 20;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 18px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}

.inspiration4 {
grid-column-start: 6;
grid-column-end: 8;
grid-row-start: 17;
grid-row-end: 22;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}

.explication4 {
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 20;
grid-row-end: 22;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 13px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}

page digital art

.menu{
  position:relative;
   z-index:2;
}

.wrapperdigital {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 100px);
    position:relative;
    z-index:1;
  }

  .digital5 img{
    max-width: 100%;
    max-height: 100%;
  }

  .inspiration5 img{
    max-width: 100%;
    max-height: 100%;
  }
  .digital5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6;
    font-size: 4em;
        background-color:  rgb(82, 79, 79);
        font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
        text-align: center;
        float:right;
        position: relative;
        border-radius: 10px 10px 10px 10px; 
        margin: 3%;  
        padding: 3%;
        border: 3px solid;
          color: white;
 }


 .detail5 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 5;
  font-size: 4em;
      background-color:  rgb(82, 79, 79);
      font: 18px Lucida Grande, Arial, Helvetica, sans-serif;
      text-align: center;
      float:right;
      position: relative;
      border-radius: 10px 10px 10px 10px; 
      margin: 3%;  
      padding: 3%;
      border: 3px solid;
        color: white;
}

.inspiration5 {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 6;
  font-size: 4em;
      background-color:  rgb(82, 79, 79);
      font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
      text-align: center;
      float:right;
      position: relative;
      border-radius: 10px 10px 10px 10px; 
      margin: 3%;  
      padding: 3%;
      border: 3px solid;
        color: white;
}

.explication5{
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 7;
  font-size: 4em;
      background-color:  rgb(82, 79, 79);
      font: 13px Lucida Grande, Arial, Helvetica, sans-serif;
      text-align: center;
      float:right;
      position: relative;
      border-radius: 10px 10px 10px 10px; 
      margin: 3%;  
      padding: 3%;
      border: 3px solid;
        color: white;
}


.digital6 img{
  max-width: 100%;
  max-height: 100%;
}

.inspiration6 img{
  max-width: 100%;
  max-height: 100%;
}
.digital6 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 12;
  font-size: 4em;
      background-color:  rgb(82, 79, 79);
      font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
      text-align: center;
      float:right;
      position: relative;
      border-radius: 10px 10px 10px 10px; 
      margin: 3%;  
      padding: 3%;
      border: 3px solid;
        color: white;
}


.detail6{
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 7;
grid-row-end: 10;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 18px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}

.inspiration6{
grid-column-start: 6;
grid-column-end: 8;
grid-row-start: 9;
grid-row-end: 10;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}

.explication6 {
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 10;
grid-row-end: 12;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 13px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}


.digital7 img{
  max-width: 100%;
  max-height: 100%;
}

.inspiration7 img{
  max-width: 100%;
  max-height: 100%;
}
.digital7 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 12;
  grid-row-end: 17;
  font-size: 4em;
      background-color:  rgb(82, 79, 79);
      font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
      text-align: center;
      float:right;
      position: relative;
      border-radius: 10px 10px 10px 10px; 
      margin: 3%;  
      padding: 3%;
      border: 3px solid;
        color: white;
}


.detail7{
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 12;
grid-row-end: 15;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 18px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}

.inspiration7 {
grid-column-start: 6;
grid-column-end: 8;
grid-row-start: 12;
grid-row-end: 17;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}

.explication7 {
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 15;
grid-row-end: 17;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 13px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}

.digital8 img{
  max-width: 100%;
  max-height: 100%;
}

.inspiration8 img{
  max-width: 100%;
  max-height: 100%;
}
.digital8{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 17;
  grid-row-end: 20;
  font-size: 4em;
      background-color:  rgb(82, 79, 79);
      font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
      text-align: center;
      float:right;
      position: relative;
      border-radius: 10px 10px 10px 10px; 
      margin: 3%;  
      padding: 3%;
      border: 3px solid;
        color: white;
}


.detail8{
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 17;
grid-row-end: 19;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 18px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}

.inspiration8 {
grid-column-start: 6;
grid-column-end: 8;
grid-row-start: 17;
grid-row-end: 21;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}

.explication8 {
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 19;
grid-row-end: 20;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 13px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}



/*page 3D*/

.menu{
  position:relative;
   z-index:2;
}

.wrapper3D {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 100px);
    position:relative;
    z-index:1;
  }

  .Modelisation9 img{
    max-width: 100%;
    max-height: 100%;
  }

  .inspiration9 img{
    max-width: 100%;
    max-height: 100%;
  }
  .Modelisation9 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 6;
    font-size: 4em;
        background-color:  rgb(82, 79, 79);
        font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
        text-align: center;
        float:right;
        position: relative;
        border-radius: 10px 10px 10px 10px; 
        margin: 3%;  
        padding: 3%;
        border: 3px solid;
          color: white;
 }


 .detail9 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 5;
  font-size: 4em;
      background-color:  rgb(82, 79, 79);
      font: 18px Lucida Grande, Arial, Helvetica, sans-serif;
      text-align: center;
      float:right;
      position: relative;
      border-radius: 10px 10px 10px 10px; 
      margin: 3%;  
      padding: 3%;
      border: 3px solid;
        color: white;
}

.inspiration9{
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 6;
  font-size: 4em;
      background-color:  rgb(82, 79, 79);
      font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
      text-align: center;
      float:right;
      position: relative;
      border-radius: 10px 10px 10px 10px; 
      margin: 3%;  
      padding: 3%;
      border: 3px solid;
        color: white;
}

.explication9{
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 7;
  font-size: 4em;
      background-color:  rgb(82, 79, 79);
      font: 13px Lucida Grande, Arial, Helvetica, sans-serif;
      text-align: center;
      float:right;
      position: relative;
      border-radius: 10px 10px 10px 10px; 
      margin: 3%;  
      padding: 3%;
      border: 3px solid;
        color: white;
}


.Modelisation10 img{
  max-width: 100%;
  max-height: 100%;
}


.inspiration10 img{
  max-width: 100%;
  max-height: 100%;
}

.Modelisation10{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 11;
  font-size: 4em;
      background-color:  rgb(82, 79, 79);
      font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
      text-align: center;
      float:right;
      position: relative;
      border-radius: 10px 10px 10px 10px; 
      margin: 3%;  
      padding: 3%;
      border: 3px solid;
        color: white;
}


.detail10{
grid-column-start: 4;
grid-column-end: 6;
grid-row-start: 7;
grid-row-end: 10;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 18px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}

.inspiration10{
grid-column-start: 6;
grid-column-end: 8;
grid-row-start: 9;
grid-row-end: 10;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}

.explication10 {
grid-column-start: 4;
grid-column-end: 6;
grid-row-start: 10;
grid-row-end: 12;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 13px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}


.Modelisation11 img{
  max-width: 100%;
  max-height: 100%;
}

.inspiration11 img{
  max-width: 100%;
  max-height: 100%;
}
.Modelisation11 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 12;
  grid-row-end: 17;
  font-size: 4em;
      background-color:  rgb(82, 79, 79);
      font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
      text-align: center;
      float:right;
      position: relative;
      border-radius: 10px 10px 10px 10px; 
      margin: 3%;  
      padding: 3%;
      border: 3px solid;
        color: white;
}


.detail11{
grid-column-start: 4;
grid-column-end: 6;
grid-row-start: 12;
grid-row-end: 14;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 18px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}

.inspiration11 {
grid-column-start: 6;
grid-column-end: 8;
grid-row-start: 12;
grid-row-end: 17;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}

.explication11 {
grid-column-start: 4;
grid-column-end: 6;
grid-row-start: 14;
grid-row-end: 16;
font-size: 4em;
    background-color:  rgb(82, 79, 79);
    font: 13px Lucida Grande, Arial, Helvetica, sans-serif;
    text-align: center;
    float:right;
    position: relative;
    border-radius: 10px 10px 10px 10px; 
    margin: 3%;  
    padding: 3%;
    border: 3px solid;
      color: white;
}
.Modelisation12 img{
  max-width: 100%;
  max-height: 100%;
}

.inspiration12 img{
  max-width: 100%;
  max-height: 100%;
}
.modelisation12 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 17;
  grid-row-end: 22;
  font-size: 4em;
      background-color:  rgb(82, 79, 79);
      font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
      text-align: center;
      float:right;
      position: relative;
      border-radius: 10px 10px 10px 10px; 
      margin: 3%;  
      padding: 3%;
      border: 3px solid;
        color: white;
}
.detail12{
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 17;
  grid-row-end: 20;
  font-size: 4em;
      background-color:  rgb(82, 79, 79);
      font: 18px Lucida Grande, Arial, Helvetica, sans-serif;
      text-align: center;
      float:right;
      position: relative;
      border-radius: 10px 10px 10px 10px; 
      margin: 3%;  
      padding: 3%;
      border: 3px solid;
        color: white;
  }
  
  .inspiration12 {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 17;
  grid-row-end: 22;
  font-size: 4em;
      background-color:  rgb(82, 79, 79);
      font: 16px Lucida Grande, Arial, Helvetica, sans-serif;
      text-align: center;
      float:right;
      position: relative;
      border-radius: 10px 10px 10px 10px; 
      margin: 3%;  
      padding: 3%;
      border: 3px solid;
        color: white;
  }
  
  .explication12 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 20;
  grid-row-end: 22;
  font-size: 4em;
      background-color:  rgb(82, 79, 79);
      font: 13px Lucida Grande, Arial, Helvetica, sans-serif;
      text-align: center;
      float:right;
      position: relative;
      border-radius: 10px 10px 10px 10px; 
      margin: 3%;  
      padding: 3%;
      border: 3px solid;
        color: white;
  }
  


/*footer*/
.wrapper{
  flex: 1 0 auto;
}


.coteDroit {
  position: fixed;
  right: 100%;
  width: 100%;
  float: right;
}

.contenu p{

  padding: 3vw 2vw;
  text-align: justify;
  color:#f1f1f1
  
  
}

footer{
  flex-shrink: 0;
  border-top: 1px dashed #000000;
  width: 100%;
  background:rgb(82, 79, 79);
  color: #333;
}

.contenu-footer{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  padding: 20px 10px 100px auto;
}

.bloc{
  width: 25%;
  margin: 0 8 40px;
  
}


.contact h4,.media h5{
  font-size: 20px;
  padding-bottom: 20px;
  
}

.contact p{
  font-size: 15px;
  padding: 1px 0;
}

.nom-prenom{
  padding: 5px 0;
  position: relative;
  left: -170px;
  top: 70px;
}

.nom-prenom a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  font-size: 25px;
}


.liste-media{
  list-style-type: none;

}

.liste-media a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  font-size: 25px;
}

.liste-media img{

  width: 40px;
  margin: 10px 10px;
}
